version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: hci_postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: hci_fashion_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - hci_network

volumes:
  postgres_data:
    driver: local

networks:
  hci_network:
    driver: bridge

